# Dependencies
node_modules/

# Environment files
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads (if storing locally)
# src/public/uploads/

# Build artifacts
dist/
/build/

# But include the public build folder for template assets
!src/public/build/
