





    <script src="assets/js/pwa.js"></script>

    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="modules/jquery/jquery-2.2.4.min.js"></script>
    <script src="modules/materialize/materialize.js"></script>
    <script src="modules/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/variables.js"></script>
    <!-- CORE JS FRAMEWORK - END -->


    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <script src="assets/js/common.js"></script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->


    <!-- CORE TEMPLATE JS - START -->
    <script src="modules/app/init.js"></script>
    <script src="modules/app/settings.js"></script>

    <script src="modules/app/scripts.js"></script>

    <!-- END CORE TEMPLATE JS - END -->


    <script src="assets/js/preloader.js"></script>
</body>


<!-- Mirrored from www.jaybabani.com/odis-html/app/ui-pages-welcome.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Dec 2025 09:37:14 GMT -->

</html>