        <!-- Start::main-footer -->
            <footer class="footer mt-auto py-3 bg-white text-center">
				<div class="container">
					<span class="text-muted"> Copyright © <span id="year"></span> <a
							href="javascript:void(0);" class="text-dark fw-medium">ZEN</a>.
						<!-- Designed with <span class="bi bi-heart-fill text-danger"></span> by <a href="https://spruko.com/" target="_blank"> -->
							<span class="fw-medium text-primary">ZENOKIKI</span>
						</a> All
						rights
						reserved
					</span>
				</div>
			</footer>            <!-- End::main-footer -->

            <!-- Start::main-modal -->
            <div class="modal fade" id="header-responsive-search" tabindex="-1" aria-labelledby="header-responsive-search" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="input-group">
                                <input type="text" class="form-control border-end-0" placeholder="Search Anything ..."
                                    aria-label="Search Anything ..." aria-describedby="button-addon2">
                                <button class="btn btn-primary" type="button"
                                    id="button-addon2"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            <!-- End::main-modal -->

              

        </div>

        <!-- Scripts -->
        <!-- Scroll To Top -->
          <div class="scrollToTop">
               <span class="arrow"><i class="ti ti-arrow-narrow-up fs-20"></i></span>
          </div>
          <div id="responsive-overlay"></div>
          <!-- Scroll To Top -->
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

          <!-- Popper JS -->
          <script src="/build/assets/libs/%40popperjs/core/umd/popper.min.js"></script>

          <!-- Bootstrap JS -->
          <script src="/build/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

          <!-- Node Waves JS-->
          <script src="/build/assets/libs/node-waves/waves.min.js"></script>

          <!-- Simplebar JS -->
          <script src="/build/assets/libs/simplebar/simplebar.min.js"></script>
          <link rel="modulepreload" href="/build/assets/simplebar-B35Aj-bA.js" /><script type="module" src="/build/assets/simplebar-B35Aj-bA.js"></script>
          <!-- Auto Complete JS -->
          <script src="/build/assets/libs/%40tarekraafat/autocomplete.js/autoComplete.min.js"></script>

          <!-- Color Picker JS -->
          <script src="/build/assets/libs/%40simonwep/pickr/pickr.es5.min.js"></script>

          <!-- Date & Time Picker JS -->
          <script src="/build/assets/libs/flatpickr/flatpickr.min.js"></script>

          	
        <!-- Chartjs Chart JS -->
        <script src="/build/assets/libs/chart.js/chart.umd.js"></script>

        <!-- Apex Charts JS -->
        <script src="/build/assets/libs/apexcharts/apexcharts.min.js"></script>

        <!-- Sales Dashboard --> 
        <link rel="modulepreload" href="/build/assets/sales-dashboard-BgU5585E.js" /><script type="module" src="/build/assets/sales-dashboard-BgU5585E.js"></script>

        <!-- Toastify JS -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        <!-- Sticky JS -->
        <script src="/build/assets/sticky.js"></script>

        <!-- Custom-Switcher JS -->
        <link rel="modulepreload" href="/build/assets/custom-switcher-DP4OB4k6.js" /><script type="module" src="/build/assets/custom-switcher-DP4OB4k6.js"></script>
        <!-- App JS-->
		<link rel="modulepreload" href="/build/assets/app-hc6HQV26.js" /><script type="module" src="/build/assets/app-hc6HQV26.js"></script>
        <!-- END Scripts -->
  <!-- Popper JS -->
          <script src="build/assets/libs/%40popperjs/core/umd/popper.min.js"></script>

          <!-- Bootstrap JS -->
          <script src="build/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

          <!-- Node Waves JS-->
          <script src="build/assets/libs/node-waves/waves.min.js"></script>

          <!-- Simplebar JS -->
          <script src="build/assets/libs/simplebar/simplebar.min.js"></script>
          <link rel="modulepreload" href="build/assets/simplebar-B35Aj-bA.js" /><script type="module" src="build/assets/simplebar-B35Aj-bA.js"></script>
          <!-- Auto Complete JS -->
          <script src="build/assets/libs/%40tarekraafat/autocomplete.js/autoComplete.min.js"></script>

          <!-- Color Picker JS -->
          <script src="build/assets/libs/%40simonwep/pickr/pickr.es5.min.js"></script>

          <!-- Date & Time Picker JS -->
          <script src="build/assets/libs/flatpickr/flatpickr.min.js"></script>

          	
        <!-- Emojji Picker JS -->
        <script src="build/assets/libs/fg-emoji-picker/fgEmojiPicker.js"></script>
        
        <!-- Gallery JS -->
        <script src="build/assets/libs/glightbox/js/glightbox.min.js"></script>

        <!-- Chat JS -->
        <script src="build/assets/chat.js"></script>


        <!-- Sticky JS -->
        <script src="build/assets/sticky.js"></script>

        <!-- Custom-Switcher JS -->
        <link rel="modulepreload" href="build/assets/custom-switcher-DP4OB4k6.js" /><script type="module" src="build/assets/custom-switcher-DP4OB4k6.js"></script>
        <!-- App JS-->
		<link rel="modulepreload" href="build/assets/app-hc6HQV26.js" /><script type="module" src="build/assets/app-hc6HQV26.js"></script>
        <!-- END Scripts -->

    </body> 


<!-- Mirrored from laravelui.spruko.com/zeno/index by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Dec 2025 12:58:35 GMT -->
</html>
